{% extends 'main/base.html' %}
{% load mediapath %}

{% block content %}
<section class="py-5 text-center container" xmlns="http://www.w3.org/1999/html">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Товары</h1>
            <p class="lead text-body-secondary">На этой странице выведен список продуктов из БД</p>
        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in products %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        {% if object.image %}
                        <img src="{{ object.image|mediapath }}"/>
                        {% else %}
                        <img src="/media/product_images/product.noimage.png"/>
                        {% endif %}
                        <p class="card-text">{{ object.name }} {{ object.description }}</p>
                        <p class="card-text">{{ object.category }}</p>
                        <p class="card-text">{{ object.price }} руб.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p><a href="{% url 'main:product_detail' pk=object.pk %}" class="btn btn-outline-primary">Подробнее
                                ≫</a>
                            <div class="block"><a href="{% url 'main:product_reviews' pk=object.pk %}"
                                                  class="btn btn-link">Отзывы</a></p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary">Добавлено: {{ object.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}